@font-face {
    font-family: "Rajdhani";
    src: url(../Assets/Fonts/Rajdhani/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: "Space-Grotesk";
    src: url(../Assets/Fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Space-Grotesk";
    src: url(../Assets/Fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: #FFF000;
    --lemon: #f8f184;
    --blue: #19587d;
    --red-light: #b11313;
    --dark-light: #0d0e09;
    --dark: #000000;
    --white: #ffffffe0;
    --gray: #c4c4c4;
    --broder-gray: #7c70702e;
}

*  {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
    background-image: url(../Assets/Illustrations/Bathome1.png);
}

/* pour mettre les traits sur les cotes de la page */
#menu-padding {
    padding: 0 7% 0 7%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5% 8% 7%;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-color: var(--broder-gray);
}

.nav-bar a {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    font-family: "Rajdhani", serif;
    font-weight: bold;
    font-size: 25px;
}

.nav-liens a {
    color: var(--white);
    text-decoration: underline;
}

/* j'utilise css Grid pour diviser la div en 2,
    et c'est plus facile pour moi d'utiliser grid */
.hd-corps {
    display: grid;
    grid-template-columns: 80% 10%;
    padding-top: 10%;
    grid-gap: 15%;
    height: 700px;
    border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: var(--broder-gray);
}

.hd-text {
    height: 70%;
    color: var(--white);
    padding-top: 8%;
    padding-left: 20%;
}

.hd-text p, .hd-text h2, .hd-bt {
    padding-left: 15%;
    text-align: center;
}

.hd-text p{
    font-family: "Space-Grotesk", serif;
    font-size: 22px;
}

.hd-text h2 {
    font-family: "Space-Grotesk", serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 50px;
}

/* mettre les liens des reseaux sociaux en vertical */
#hd-reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55%;
    margin-top: 80%;
}

/* Passond au style des 2 boutons */
.hd-bt {
    height: 50px;
}

#second-bt {
    padding: 15px 45px 15px 45px;
    margin-left: 30px;
}

.hd-bt a {
    text-decoration: none;
    background-color: #ede2e254;
    padding: 15px 55px 15px 55px;
    color: var(--white);
    font-family: "Rajdhani", serif;
    font-size: 20px;
}
